<html>
<head>
  <script type="text/javascript">
$(function() {
var addDiv = $('#addinput');

$('#addNew').on('click', function() {
  var p = $("<p class='temp' style='margin-left: 0px;text-align:center'></p>");
    p.append(
      $("<span>Description:</span>"),
      $("<input type=\"text\" name=\"des[]\"></input>"),
      $("<span>Amount:</span>"),
      $("<input type=\"text\" name=\"am[]\"></input>"),
      $("<button type='button' class='btn btn-default'><a>remove</a></button>").on("click", function(){ p.remove(); })
    )

p.appendTo(addDiv);
i++;
j++;

return false;
});

});

</script>

</head>
<body >
  
<div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close &times;</button>
        <h2 class="modal-title" id="myModalLabel">Charges </h2>
      </div>
      <div class="modal-body" >
      <% if @charge.empty? %>
    <div>
      <p>There are no members registered in this space! Please come back when at least one member is registered.</p>
    </div>
  <% end %>
        
  <% unless @invo.empty? %>
  <% @invo.each do |invo| %>
    <% if invo['membership_id']== @user %>
    
     <h3><%= invo['created_at'] %> PAST</h3>
     <table border="1">
      <thead style="background: #0B5C7B ">
      <tr>
        
        <th><font color="white">Charge Description</font></th>
        <th><font color="white">Amount Charged</font></th>
      
      </tr>
      </thead>
    
    <% invo['items'].each do |item| %>
      
      
      
      <tr>
      
      <td><%= item['description'] %></td>
      <td><%= item['amount'] %></td>
      </tr>
      <% end %>
      
      <tfoot >
        <td> <b>Total Amount Due</b></td>
        <td><b><%= invo['payable_amount'].to_f %></b></td>

      </tfoot>
      
    </table>
    <% end %>
  <% end %>
  <% end %>



  
  
    <% unless @charge.empty? %>
    <h2> Current Charges </h2>
    <table border= "1">
      <thead style="background: #0B5C7B ">
      <tr>
        
        <th><font color="white">Charge description</font></th>
        <th><font color="white">Amount Charged</font></th>
      
      </tr>
      </thead>
    <% @charge.each do |charge| %>


    
    <tr>
     <td> <%= charge['description'] %> </td>
     <td><%= charge['amount'] %> </td>
     
    </tr>
    <% end %>

  <% end %>
  
  </table>
  </div>

<%= form_tag("/spaces/#{@subdomain}/membercharge") do %>
<div id="addinput">
<p>



<%= hidden_field_tag  'membership',@user %>

</p>

</div>
<p style="margin-left: 0px;text-align:center">
<button type="button" class="btn btn-default" id="addNew"><a href="#" >Add Another Charge</a></button>
</p>



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

</p>
</div>

</body>
  </html>